<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Zabansara</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signin-servlet</servlet-name>
    <servlet-class>request_handlers/SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin-servlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signout-servlet</servlet-name>
    <servlet-class>request_handlers/SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout-servlet</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>photos-servlet</servlet-name>
    <servlet-class>request_handlers/PhotosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photos-servlet</servlet-name>
    <url-pattern>/photos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news-servlet</servlet-name>
    <servlet-class>request_handlers/NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news-servlet</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aboutus-servlet</servlet-name>
    <servlet-class>request_handlers/AboutUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutus-servlet</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile-servlet</servlet-name>
    <servlet-class>request_handlers/ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile-servlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>terms-servlet</servlet-name>
    <servlet-class>request_handlers/TermsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>terms-servlet</servlet-name>
    <url-pattern>/terms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>levels-servlet</servlet-name>
    <servlet-class>request_handlers/LevelsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>levels-servlet</servlet-name>
    <url-pattern>/levels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>availability-servlet</servlet-name>
    <servlet-class>request_handlers/AvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>availability-servlet</servlet-name>
    <url-pattern>/availability</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>class-servlet</servlet-name>
    <servlet-class>request_handlers/ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>class-servlet</servlet-name>
    <url-pattern>/class</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register-servlet</servlet-name>
    <servlet-class>request_handlers/RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-servlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>users-servlet</servlet-name>
    <servlet-class>request_handlers/UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users-servlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exams-servlet</servlet-name>
    <servlet-class>request_handlers/ExamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exams-servlet</servlet-name>
    <url-pattern>/exams</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>grades-servlet</servlet-name>
    <servlet-class>request_handlers/GradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>grades-servlet</servlet-name>
    <url-pattern>/grades</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>pay-servlet</servlet-name>
    <servlet-class>request_handlers/PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay-servlet</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
</web-app>