.top-bar{
	background-image: url("../images/menu-background.jpeg");
    background-repeat: repeat;
    background-position: bottom;
	border-radius:		5px;
}
.top-bar ul{
	background-image: url("../images/menu-background.jpeg");
    background-repeat: repeat;
    background-position: bottom;
}
.top-bar ul li a{
	color:		#000000;
}
.grid-container{
	width: 70%;
}

.callout{
	border-radius:5px;
}
.button{
	border-radius:5px;
}
label{
	color:gray;
}
.reveal-modal-bg {
position: fixed;
}

.grid-container{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
.grid-x{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
.callout{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
